{% extends "base.html" %} 
{% block content %}
<section class="about" id="about">
    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3 class="text-animation">
            <span></span>
        </h3>
        <p>A Moderate Skill Web Developer With 2 Year Of Web Development Experience In Design,
            Development,Optimization Of WebSites And Provide Best-in-class Solutions.</p>
        <!-- <a href="#" class="btn">Read More</a> -->
    </div>
    <div class="about-img">
        <img src="/static/img/kishan.jpeg" alt="">
    </div>
</section>
<section class="services" id="Skill">
    <div class="skills">
        <div class="skill-tech">
            <h3>Technologies</h3>
        </div>
        <div class="techs">c :</div>
        <div class="techs-c gap"></div>
        <div class="techs">c++ :</div>
        <div class="techs-cpp gap"></div>
        <div class="techs">Python :</div>
        <div class="techs-py gap"></div>
        <div class="techs">Java :</div>
        <div class="techs-java gap"></div>
        <div class="techs">HTML :</div>
        <div class="techs-html gap"></div>
        <div class="techs">CSS :</div>
        <div class="techs-css gap"></div>
        <div class="techs">Java Script :</div>
        <div class="techs-js gap"></div>
    </div>
</section>
{% endblock content %}